node_modules

lib

# match outputs
errorlogs
*.log
replays

# test files
coverage
tests/run.*.ts
tests/run.*.js
.nyc_output
*bot.zip

# generated
*.out
*.class
tests/kits/ts/**/*.js
__pycache__

# other files
*.DS_Store
*.code-workspace
.vscode

src/Station/local/bots
.devcontainer
tests/keys