node_modules

lib

# match outputs
errorlogs
*.log
replays

*.code-workspace

# test files
coverage
tests/run.*.ts
tests/run.*.js
.nyc_output

# generated
*.out
*.class
tests/kits/ts/**/*.js
__pycache__

# other files
*.DS_Store


src/Station/local/bots
.devcontainer
tests/keys