@import './vars.scss';
@mixin smack-center {
  margin: auto;
  position: absolute;
  top:50%;
  transform: translate(-50%, -50%);
  left:50%;
}

@mixin noContainer {
  margin-left: -$container-left-margin;
  margin-right: -$container-right-margin;
}