$white: #fefefe;
$navbar-height: 60px;
$page-height: calc(100vh - 60px);
$margin-base: 12px;
$margin-base2: $margin-base * 2;
$margin-base3: $margin-base * 3;

// Colors

$white: white;
$white2: #f9fbff; // email background white
$gray: #E9E9E9;
$grayhover: #C9C9C9;

$transparent-white-1: rgba(255,255,255,0.15);

$danger: #ff4d4f;

$b1: rgb(36, 41, 51);
$b2: rgb(61, 69, 89);
$p1: #1890ff;
$p2: #42b0ff;
$p3: #1260ba;

$bg1: #001529;
$bg1hover: #172a3c;


// font sizing
$font1: 14px;
$font2: 18px;
$font3: 22px;
$font4: 30px;
$font5: 42px;
$font6: 58px;

// box shadows!
$bx1: 0 2px 8px 0 rgba(96,101,123,.14);
$bx2: 0 4px 16px 0 rgba(96,101,123,.22);

// border radii
$radius-base1: 4px;
$radius-base2: 8px;


// container margins
$container-right-margin: 48px;
$container-left-margin: 48px;