@import '../../styles/base.scss';

.DimensionCard {
  display: inline-block;
  max-width: 300px;
  background-color: $white;
  border-radius: $radius-base2;
  margin: $margin-base;
  padding: $margin-base * 2;
  .title {
    font-size: $font3;
    margin-top: 0px;
  }
  .matches {
    color: $b1 !important;
    font-size: $font2;
    font-weight: 400;
  }
  box-shadow: $bx2;
}
